{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="perso-container">
        <h1>
            SUETE method
        </h1>
        <p>
            S.U.E.T.E. method (for "Série Unique Et Trajet Exponentiels", "exponentials unique serie and path"), is a sportive method, conceived mainly for series exercices (push-ups, abs, pull-ups, squats...), but also adapted for exercices involving distances to run (jogging, bike...)
        </p>
        <p>
            This method is based on several principles :
        </p>
        <h2>
            perfectionism can be counter-productive
        </h2>
        <p>
            A lot of sport coachs always repeat the same thing :
        </p>
        <blockquote>
            <p>
                " You should...
            </p>
            <ul>
                <li>
                    do at least 3 series for each exercice
                </li>
                <li>
                    do many exercices
                </li>
                <li>
                    do at least one hour of sport each session
                </li>
                <li>
                    do at least 3 sessions a weak
                </li>
            </ul>
            <p>
                ... Or you won't progress quickly "
            </p>
        </blockquote>
        <p>
            It's true that those who follow this kind of trainings long term have really good results. So what's wrong with it ?
        </p>
        <p>
            I see at least one big problem : <strong>most people that try to do this way give up</strong>. They only follow it few mounths, or they quickly stop doing most of the sessions. The amount of work, the time investment, and the exhaustion felt for the rest of the day, are really importants. But everyone don't give the same priority to sport, don't have the same free time, and the same sport tolerance, motivation, or self estime.
        </p>
        <p>
            You'd better improve your health and appearance surely and lastingly (and still efficiently), rather than have 10% chances to have perfect body, heart and lungs, and 90% keeping your exceeding fat, your bad health, and your low self estime.
        </p>
        <p>
            Here's the advice : do a few exercices, one serie each, when you have 5 free minutes. Try it hard, go close to the limit, but just one serie. Each day, if possible, or at least, really often.
        </p>
        <p>
            Those exercices can be whatever you want : push-ups, abs, pull-ups, squats, dips, bench press, steps, and so on. you choose your exercices considering your goals (with a few advices coming soon). The important is that you should be able to do it quickly. If you need material (dumbbells, pull-up bar, elastic...) try to get it : a distant sport hall would waist the goal of "quick and convenient" exercice.
        </p>
        <p>
            One first advice about the exercices you choose : try to do as few exercices as possible. There are exercices that use a lot of muscles, don't choose exercices that isolate muscles and just work on one. If you choose push ups, you'll work on pecs and triceps at once. If you choose biceps exercices with dumbbells, you'll have to complete it with an exercice that isolate pecs. The more your exercices isolate each muscle, the most you'll have exercices to do. That doesn't follow our principle of fast exercices, and will increase the chances you give up some day.
        </p>
        <p>
            If an exercice is too hard for you and you can't do just 1 repetition, you can always do it negative. it means : "cheating" for the most difficult part, and trying hard only on easy one. As instance, for pull-ups : use a chair to go up, then move your feet from the chair, and try to go down as slowly as possible, try to resist. You could create one exercice named "negative pull-ups" as instance. Once you're capable of doing 7 or 8 slow negative, you should be able to do 1 or 2 positive. Then, stop your exercice, and create a new one called "pull-ups".
        </p>
        <p>
            You could also set running type exercices (jogging, bike, and so on). It isn't what this method have been created for in first place, because the "quick exercice" aspect is absent, but you can do so.
        </p>
        <h2>
            exponential evolution
        </h2>
        <p>
            The best news is that this quick exercices still can result in a very important progression : an exponential progression.
        </p>
        <p>
            Exponential is a mathematical function that keeps growing faster and faster. In other words, you won't stop progressing, and, you'll progress faster and faster over time.
        </p>
        <p>
            Even considering the fact that just one serie for each exercice allow a lower progression, the human body is done so that...
        </p>
        <ul>
            <li>
                <strong>It naturally follow an exponential progression</strong>, as you get close to you limits. It is a relatively "slow" exponential (without digging into mathematical explainations), but it's still an exponential. You might need a week to pass from 5 to 6 repetitions, but you'll also need a week to pass, as instance, from 50 to 60 repetitions.
            </li>
            <li>
                <strong>It adapts to what you do</strong>. Doing mono series so encourage your body to improve on maximal repetitions number within a serie, rather than improving on the number of series you're able to do. Thus, with a most conventional method, someone working on pull-ups, might need 15 minutes to do 90 pull-ups, in 6 series of 15, while you'll just need a minute and a half to do one single 90 pull-ups serie. You might reach it after several mounth, but you'll reach it some day, whatever your actual level is.
            </li>
        </ul>
        <p>
            The website will guide you through your exponential progression, giving you daily goals, to prevent you from going to fast and getting hurt, and also to prevent you from stagnation.
        </p>
        <p>
            The evolution is exponential only if you don't miss too much exercices. Every day would be perfect. It result in fast progression, and more important, it gives you habits, that prevent from giving up. Every two days would also be very good, resulting on very fast progression, giving you a day to rest, which is a good thing for muscles development. Every 4 or 5 days will result in a really slow progression.
        </p>
        <p>
            But if you need to stop for a moment (exams, holidays, injury...) then, don't give up. Just indicate it to the website, which will calculate a lower number of repetitions, and start again your progression. Remind : the most important isn't to be perfect, but to reach your goal.
        </p>
        <p>
            As the exponential function allows to reach ANY goal in a relatively short time, it's up to you to decide when to stabilise. If you reach 150 abs within a single serie, and you don't feel like you need to reach 500, stop this exercice on the website, and just keep doing 150 abs every day. It will feels like it's nothing, once you stabilised. The most important is to never stop, so you don't loose all you fought for.
        </p>
        <h2>
            health first
        </h2>
        <p>
            It's crucial to pay attention about your health. I will so here give you some advices :
        </p>
        <ul>
            <li>
                <strong>hydrate yourself</strong> correctly. Not too much, so you don't have stomach issues, but avoid dehydration.
            </li>
            <li>
                do some <strong>warm ups</strong> before each exercice, to prevent articular and muscular injuries. I'll let you get informations about each specific warm up for each exercice you choose. I could hardly be exhaustive.
            </li>
            <li>
                if your muscules or articulations are <strong>painful</strong>, or if you feel like you'll faint, <strong>stop your exercice</strong>, just do it another day if you feel better then.
            </li>
            <li>
                <strong>Balance your strenght</strong>. As instance if you're working on push-ups, you really should also work on an exercice implying your back and your biceps (pull-ups, or anything else). Indeed, push ups mainly develop pecs and triceps. About the triceps, it might be approximatively OK. But as you'll develop your pecs, without developping your back, your shoulders will be pull to the front side, your back will be too weack to handle it, and you'll have back issues and pain.
            </li>
        </ul>
        <hr class="my-5">
        <p>
            I suggest you try the method in the "todo" tab. You should also register, if you want to have access to a daily goal adapted to your level and evolution for each exercice you choose (strongly recommanded).
        </p>
    </div>
    {# <div class="perso-container">
        <h1>
            méthode SUETE
        </h1>
        <p>
            La méthode S.U.E.T.E. (pour Série Unique Et Trajet Exponentiels), est une méthode sportive, conçue principalement pour les exercices sous forme de séries (pompes, abdos, tractions, fessiers, etc.), mais aussi adaptée aux exercices impliquant des distances à parcourir (jogging, vélo, etc.).
        </p>
        <p>
            Cette méthode se base sur plusieurs principes :
        </p>
        <h2>
            Le mieux est l'ennemi du bien
        </h2>
        <p>
            La majorité des coachs sportifs répètent toujours la même chose :
        </p>
        <blockquote>
            <p>
                " Il faut...
            </p>
            <ul>
                <li>
                    faire au moins 3 séries par exercice
                </li>
                <li>
                    faire un maximum d'exercices différents
                </li>
                <li>
                    faire des séance d'au moins une heure
                </li>
                <li>
                    faire au moins 3 séances par semaine
                </li>
            </ul>
            <p>
                ... Sinon on évolue pas assez vite "
            </p>
        </blockquote>
        <p>
            Il est vrai que ceux qui suivent correctement un tel entrainement sur le très long terme ont de très bons résultats. Quel est alors le problème avec ce conseil ?
        </p>
        <p>
            J'en vois un majeur : <strong>l'écrasante majorité des gens abandonnent avec la fin</strong>. Ne tiennent que quelques mois, ou encore, finissent par sauter la majorité des séances. La charge de travail, l'investissement en temps, et la fatigue induite pour le restant de la journée, sont très importants. Or, tout le monde ne place pas le sport au même niveau de priorité, ne dispose pas du même temps, et n'a pas la même tolérance au sport, motivation, ou confiance en soit.
        </p>
        <p>
            Mieux vaut améliorer sa santé et son physique de manière sûre et durable (et tout de même conséquente), plutôt qu'avoir 10% de chances d'avoir un physique d'atlète, un coeur et des poumons en parfaite santé, et 90% de chances de garder ses bourrelets, sa mauvaise santé, et sa basse estime de soi.
        </p>
        <p>
            Le principe est donc le suivant : faire quelques exercices d'une série chacun dans sa chambre, quand on a 5 minutes à perdre. Allez y franchement, approchez vos limites, mais faites juste une série. Tous les jours si possible, ou au moins, relativement souvent.
        </p>
        <p>
            Ces exercices peuvent être de toute sorte : pompes, abdominaux, tractions, squats, dips, développés couchés, steps, etc. Vous choisissez vous même vos exercices en fonctions de vos objectifs (avec quelques conseils tout de même). Le tout est de pouvoir les faire rapidement. S'ils nécessitent du matériel (exemple : barre de traction, haltères, élastique, etc.), essayez donc de vous le procurer : un déplacement dans une salle du sport annule l'aspect expéditif de l'exercice.
        </p>
        <p>
            Vous pouvez également configurer des exercices de parcours de distance (jogging, vélo, etc.), bien que l'aspect expéditif soit moins présent dans ce cas ci. C'est simplement une possibilité offerte, à votre convenance.
        </p>
        <h2>
            une évolution exponentielle
        </h2>
        <p>
            La meilleure nouvelle, c'est que ces exercices très rapides et peu couteux, peuvent quand même vous faire suivre une progression très importante : une progression exponentielle.
        </p>
        <p>
            L'exponentielle est une fonction mathématique qui croit de plus en plus vite au fur et à mesure qui avance. Autrement dit, vous ne cesserez d'évoluer, mais en plus, vous évoluerez de plus au plus vite au fil du temps.
        </p>
        <p>
            Même si une seule série par exercice permet une ascension légèrement moins rapide, le corps humain est fait de sorte que...
        </p>
        <ul>
            <li>
                <strong>Il suit naturellement une progression exponentielle</strong>, lorsque vous approchez suffisemment de vos limites. Ce peut être une exponentielle relativement "lente" (sans rentrer dans les détails mathématiques), mais c'est toujours une exponentielle. Vous mettrez peut être une semaine pour passer de 5 à 6 répétitions, mais vous mettrez aussi, par exemple, une semaine pour passer de 50 à 60.
            </li>
            <li>
                <strong>Il s'adapte à ce que vous lui faites faire</strong>. Travailler en mono série a donc pour intéret de pousser le corps à s'améliorer sur le nombre maximal de répétitions par série, plutôt que de s'améliorer sur le nombre de séries faisables. Ainsi, avec une méthode traditionnelle, quelqu'un qui travaille les pompes mettra peut être 15 minutes à faire 150 pompes, en 6 séries de 25, là où vous, vous mettrez deux minutes à faire une série de 150 pompes. Au bout de plusieurs mois d'entrainement peut-être, mais vous y arriverez un jour, quelque soit votre niveau actuel.
            </li>
        </ul>
        <p>
            Le site vous guidera dans votre progression exponentielle, en vous proposant des objectifs chaque jour, pour éviter d'y aller trop vite et de se blesser, et pour éviter aussi de se laisser aller et de stagner.
        </p>
        <p>
            Note : l'évolution est exponentielle uniquement sous réserve d'exercices réguliers. De préférence tous les jours, ou tous les deux jours. Si, pour une raison quelconque (examens, vacances, blessure, démotivation passagère...) vous êtes amenés à arrêter plusieurs jours, n'abandonnez surtout pas : indiquez le au site, qui vous fera reprendre avec moins de répétitions, puis de nouveau suivre une progression exponentielle. Rappelez vous : l'essentiel n'est pas d'être parfait, mais d'atteindre son objectif.
        </p>
        <p>
            L'exponentielle vous permettant d'obtenir n'importe quel résultat en un temps relativement court, il vous appartient de décider, un jour, de vous stabiliser. Si vous atteignez les 150 abdos en une série, et que vous ne voyez pas l'intérêt d'atteindre les 500, arrêtez le suivi pour cet exercice, et continuez les 150 abdos par jours indéfiniment, qui vous sembleront alors comme une formalité une fois stabilisé. Le tout est de ne jamais arrêter, pour ne pas perdre le fruit de vos efforts.
        </p>
        <h2>
            faites passer la santé d'abord
        </h2>
        <p>
            Il est capitale de faire attention à votre santé. Je vous donc ici vous donner quelques conseils :
        </p>
        <ul>
            <li>
                <strong>hydratez vous</strong> correctement. Pas trop, pour éviter les reflux gastriques, mais évitez la déshydratation.
            </li>
            <li>
                <strong>échauffez vous</strong> avant chaque exercice, pour éviter les blessures musculaires et articulaires. Je vous laisse vous renseigner sur les échauffement correspondant aux exercices que vous aurez choisit : je pourrais difficilement être exhaustif ici.
            </li>
            <li>
                si vous ressentez des <strong>douleurs</strong>, ou sentez un début de malaise, <strong>arrêtez vous</strong>, quitte à ne pas valider votre exercice du jour, et le repousser à plus tard.
            </li>
            <li>
                Assurez vous de vous muscler <strong>de manière équilibrée</strong>. Par exemple : si vous travaillez les pompes, faites aussi un exercice qui implique le dos et les biceps (les tractions par exemple). En effet : les pompes font principalement travailler les pectoraux et les triceps. Pour les triceps, rien de très embêtant. Mais si vous développez vos pectoraux sans développer le dos, vos épaules seront tirées vers l'avant, votre dos ne sera plus assez musclé pour maintenir une position stable, et vous aurez des problèmes de dos.
            </li>
        </ul>
        <p class="mt-5">
            Je vous invite à tester la méthode dans l'onglet "todo", et de vous inscrire, si vous désirez voir un objectif quotidien adapté à votre évolution (fortement recommandé).
        </p>
    </div> #}
{% endblock %}
