{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <button class="perso-big-button">
        configure new exercice
    </button>
    <h1>
        to do today
    </h1>
    <div class="perso-card perso-card-serie">
        <p class="perso-card-title">
            push-ups
        </p>
        <p class="perso-ok perso-number">
            26
        </p>
        <p class="perso-ok perso-card-time">
            last time : 27 hours ago
        </p>
        <p class="perso-ok perso-card-sentence">
            Right now is the perfect time to do it !
        </p>
        <div class="card-buttons">
            <button class="card-button card-button-done">
                done
            </button>
            <button class="card-button card-button-break">
                break
            </button>
            <button class="card-button card-button-stop">
                stop
            </button>
            <button class="card-button card-button-remove">
                remove
            </button>
        </div>
    </div>
{% endblock %}
