{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <button class="perso-big-button">
        configure new exercice
    </button>
    <h1>
        to do today
    </h1>
    <div class="perso-card perso-card-serie">
        <p class="perso-card-title">
            push-ups
        </p>
        <p class="perso-ok perso-number">
            26
        </p>
        <p class="perso-ok perso-card-time">
            last time : 27 hours ago
        </p>
        <p class="perso-ok perso-card-sentence">
            Right now is the perfect time to do it !
        </p>
        <div class="card-buttons">
            <button class="card-button card-button-done">
                done
            </button>
            <button class="card-button card-button-break">
                break
            </button>
            <button class="card-button card-button-stop">
                stop
            </button>
            <button class="card-button card-button-remove">
                remove
            </button>
        </div>
    </div>
    <div class="perso-card perso-card-serie">
        <p class="perso-card-title">
            pull-ups
        </p>
        <p class="perso-limit perso-number">
            12
        </p>
        <p class="perso-limit perso-card-time">
            last time : 42 hours ago
        </p>
        <p class="perso-limit perso-card-sentence">
            It's a bit late, you sould do it now !
        </p>
        <div class="card-buttons">
            <button class="card-button card-button-done">
                done
            </button>
            <button class="card-button card-button-break">
                break
            </button>
            <button class="card-button card-button-stop">
                stop
            </button>
            <button class="card-button card-button-remove">
                remove
            </button>
        </div>
    </div>
    <div class="perso-card perso-card-distance">
        <p class="perso-card-title">
            bike
        </p>
        <div class="row card-distance-center">
            <div class="col-12 col-md-6 card-distance-infos">
                <p class="perso-rest perso-goal">
                    score to aim : <span class="perso-number">374</span>
                </p>
                <p class="perso-rest perso-card-time">
                    last time : 12 hours ago
                </p>
                <p class="perso-rest perso-card-sentence">
                    Too early... Take some time to rest !
                </p>
            </div>
            <div class="col-12 col-md-6 card-distance-test">
                <p class="card-test-title">
                    test / compute
                </p>
                <form action="">
                    <div class="row card-test-seperate">
                        <div class="col-6 card-table-distance">
                            distance (km) <br>
                            <input type="text">
                        </div>
                        <div class="col-6 card-table-ascending">
                            ascending (m) <br>
                            <input type="text">
                        </div>
                    </div>
                </form>
                <p class="card-test-result">
                    score resulting : (calculer)
                </p>
            </div>
        </div>
        <div class="card-buttons">
            <button class="card-button card-button-disabled">
                done
            </button>
            <button class="card-button card-button-break">
                break
            </button>
            <button class="card-button card-button-stop">
                stop
            </button>
            <button class="card-button card-button-remove">
                remove
            </button>
        </div>
    </div>
    <div class="perso-card perso-card-serie">
        <p class="perso-card-title">
            abs
        </p>
        <p class="perso-late perso-number">
            87
        </p>
        <p class="perso-late perso-card-time">
            last time : 85 hours ago
        </p>
        <p class="perso-late perso-card-sentence">
            It've been a while ! You should do it now,
or you'll lose performance
        </p>
        <div class="card-buttons">
            <button class="card-button card-button-done">
                done
            </button>
            <button class="card-button card-button-break">
                break
            </button>
            <button class="card-button card-button-stop">
                stop
            </button>
            <button class="card-button card-button-remove">
                remove
            </button>
        </div>
    </div>
{% endblock %}
