{% extends 'base.html.twig' %}

{% block title %}Graphs{% endblock %}

{% block body %}
    <div class="perso-container">
        <h1>
            Graphs
        </h1>
        <h2>
            Series repetitions evolutions
        </h2>
        <p class="my-5">
            legend : dark = past ; light = to come.
        </p>
        <canvas id="graphPushUps" class="my-5"></canvas>
        <canvas id="graphPullUps" class="my-5"></canvas>
        <canvas id="graphBack" class="my-5"></canvas>
        <h2>
            Run points evolutions
        </h2>
        <canvas id="graphBikeEvolution" class="my-5"></canvas>
        {# <h2>
            Next run possibilities
        </h2>
        <canvas id="graphBikePossibilities" class="my-5"></canvas> #}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        // PLUG-IN FOR FUNCTION GRAPHS
        // Chart.register(
        //     {
        //         beforeInit: function(chart) {
        //             var data = chart.config.data
        //             for(var i = 0 ; i < data.datasets.length ; i++) {
        //                 for(var j = 0 ; j < data.labels.length ; j++) {
        //                     var fct = data.datasets[i].function,
        //                         x = data.labels[j],
        //                         y = fct(x)
        //                     data.datasets[i].data.push(y)
        //                 }
        //             }
        //         }
        //     }
        // )

        // PUSH-UPS
        var ctx = document.getElementById("graphPushUps").getContext("2d")
        var data = {
            labels: ['18/03', '19/03', '20/03', '21/03', '22/03', '23/03', '24/03', '25/03', '26/03', '27/03', '28/03', '29/03', '30/03', '31/03', '01/04', '02/04', '03/04', '04/04', '05/04', '06/04'],
            datasets: [
                {
                    label: "push-ups",
                    data: [62, 63, 0, 64, 0, 65, 66, 68, 70, 72, 74, 76, 78, 80, 82, 85, 87, 89, 92, 95],
                    backgroundColor: Array(8).fill("rgba(0, 0, 150, 0.3)").concat(Array(12).fill("rgba(0, 100, 255, 0.3)")),
                    borderColor: Array(8).fill("rgba(0, 0, 150, 0.6)").concat(Array(12).fill("rgba(0, 100, 255, 0.6)")),
                    borderWidth: 2
                    // yAxisID: 'repetitions'
                }
            ]
        }
        var options
        // var options = {
        //     scales: {
        //         xAxis: {
        //             type: 'time'
        //         }
        //     }
        // }
        var config = {
            type: "bar",
            data: data,
            options: options
        }
        var graphTest = new Chart(ctx, config)

        // PULL-UPS
        var ctx = document.getElementById("graphPullUps").getContext("2d")
        var data = {
            labels: ['18/03', '19/03', '20/03', '21/03', '22/03', '23/03', '24/03', '25/03', '26/03', '27/03', '28/03', '29/03', '30/03', '31/03', '01/04', '02/04', '03/04', '04/04', '05/04', '06/04'],
            datasets: [
                {
                    label: "pull-ups",
                    data: Array(6).fill(2).concat(Array(5).fill(3).concat(Array(5).fill(4).concat(Array(4).fill(5)))),
                    backgroundColor: Array(8).fill("rgba(0, 80, 0, 0.3)").concat(Array(12).fill("rgba(0, 220, 0, 0.3)")),
                    borderColor: Array(8).fill("rgba(0, 80, 0, 0.6)").concat(Array(12).fill("rgba(0, 220, 0, 0.6)")),
                    borderWidth: 2
                }
            ]
        }
        var options
        var config = {
            type: "bar",
            data: data,
            options: options
        }
        var graphTest = new Chart(ctx, config)

        // BACK
        var ctx = document.getElementById("graphBack").getContext("2d")
        var data = {
            labels: ['18/03', '19/03', '20/03', '21/03', '22/03', '23/03', '24/03', '25/03', '26/03', '27/03', '28/03', '29/03', '30/03', '31/03', '01/04', '02/04', '03/04', '04/04', '05/04', '06/04'],
            datasets: [
                {
                    label: "back",
                    data: [8, 8, 0, 9, 9, 10, 10, 11, 11, 12, 13, 13, 14, 14, 15, 16, 16, 17, 18, 19],
                    backgroundColor: Array(8).fill("rgba(120, 0, 0, 0.3)").concat(Array(12).fill("rgba(255, 70, 0, 0.3)")),
                    borderColor: Array(8).fill("rgba(120, 0, 0, 0.6)").concat(Array(12).fill("rgba(255, 70, 0, 0.6)")),
                    borderWidth: 2
                }
            ]
        }
        var options
        var config = {
            type: "bar",
            data: data,
            options: options
        }
        var graphTest = new Chart(ctx, config)

        // BIKE POINTS
        var ctx = document.getElementById("graphBikeEvolution").getContext("2d")
        var data = {
            labels: ['18/03', '19/03', '20/03', '21/03', '22/03', '23/03', '24/03', '25/03', '26/03', '27/03', '28/03', '29/03', '30/03', '31/03', '01/04', '02/04', '03/04', '04/04', '05/04', '06/04'],
            datasets: [
                {
                    label: "bike points evolution",
                    data: [872, 0, 0, 0, 0, 0, 0, 881, 0, 0, 0, 0, 0, 0, 890, 0, 0, 0, 0, 0],
                    backgroundColor: Array(8).fill("rgba(100, 100, 0, 0.3)").concat(Array(12).fill("rgba(220, 220, 0, 0.3)")),
                    borderColor: Array(8).fill("rgba(100, 100, 0, 0.6)").concat(Array(12).fill("rgba(220, 220, 0, 0.6)")),
                    borderWidth: 2
                }
            ]
        }
        var options
        var config = {
            type: "bar",
            data: data,
            options: options
        }
        var graphTest = new Chart(ctx, config)

        // BIKE NEXT RUN POSSIBILITIES
        // var ctx = document.getElementById("graphBikePossibilities").getContext("2d")
        // var data = {
        //     labels: Array.from({length : 20}, (_, i) => i+1),
        //     datasets: [
        //         {
        //             label: "bike next run possibilities",
        //             function: function(x) {return (901-x)/0.15},
        //             data: [],
        //             backgroundColor: "rgba(220, 0, 220, 0.3)",
        //             borderColor: "rgba(220, 0, 220, 0.6)",
        //             borderWidth: 2
        //         }
        //     ]
        // }
        // var options
        // var config = {
        //     type: "line",
        //     data: data,
        //     options: options
        // }
        // var graphTest = new Chart(ctx, config)
    </script>
{% endblock %}
