/*
    COLORS :
        POLO-RASPBERRIES : #b16
        MAGENTA-FLASHY-LIGHT : #f28
        MAGENTA-RED-FLASHY : #e06
        RED-MAGENTA-MIDDLE : #e04
        RED-ORANGE-SOBER : #b40
        PISTACHIOS : #8b6
        NIGHT-BLUE : #22d
        DARK-WARM-LAVANDER : #95b
        DARK-SOBER-LAVANDER : #86b
        DARK RED GREY : #774055
*/

@media screen and (max-width: 767px)
{
    .perso-menu
    {
        text-align: center;
    }
    .custom-toggler
    {
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
    }
}
@media screen and (min-width: 768px)
{
    ul.navbar-nav
    {
        width: 85%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .perso-big-button
    {
        width: 300px;
    }
    .perso-card
    {
        width: 768px;
    }
}

body
{
    color: #222;
    background-color: white;
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #eee, transparent 50%, #eee 100%);
    background-size: 5px 1px;
}
.perso-brand, .perso-menu
{
    font-weight: 100;
    letter-spacing: 0.25em;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.perso-menu
{
    width: 100%;
    background-image: linear-gradient(black, #222 100%);
}
.perso-menu .nav-link
{
    color: #86b !important;
}
.perso-menu .active, .perso-menu .nav-link:hover, .perso-menu .nav-link:active
{
    color: #e04 !important;
}
.perso-menu .disabled
{
    color: #774055 !important;
}
.custom-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(238,0,68)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.perso-brand
{
    height: 325px;
    width : 100%;
    color: #e04 !important;
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #222 25%, transparent 25%, transparent 75%, #222 75%, #222), repeating-linear-gradient(45deg, #222 25%, #000000 25%, #000000 75%, #222 75%, #222);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
    display : flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top : -10px;
}
.perso-name
{
    margin-bottom: -0.27em;
    margin-top: -0.21em;
    font-size : 7.35em;
    text-transform: uppercase;
    transform: scale(1, 1.2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 400;
}
/* .perso-name-letter:first-child
{
    padding-top: 0.2em;
} */
.perso-hr
{
    border-top: 1px solid #e04 !important;
    opacity: 1;
    width: 86.5%;
    max-width : 558px;
    margin-right: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.perso-sentence
{
    word-spacing: 2.1em;
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
}
.perso-name, .perso-sentence
{
    width: 90%;
    max-width : 576px;
}
.perso-container
{
    width: 992px;
    max-width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.perso-big-button, .perso-card-serie
{
    background-color: #000000;
    opacity: 1;
    background-image: linear-gradient(90deg, #333, transparent 50%, #333 100%);
    color: #9ce;
}
.perso-big-button
{
    display: block;
    margin: auto;
    width: 288px;
    height: 5em;
    border: 0px;
    border-radius: 5px;
}
h1
{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #222;
}
.perso-card
{
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 90%;
    max-width: 661px;
    padding: 30px;
    padding-bottom: 15px;
    text-align: center;
}
/* .perso-card-serie
{
    color: #ddd;
} */
.perso-card-title
{
    font-size: 1.3em;
    text-transform: uppercase;
}
.perso-ok
{
    color: #8e7;
}
.perso-number
{
    font-size: 2.5em;
}
.perso-card-time
{
    margin-bottom: 3px;
}
/* .perso-card-sentence
{

} */
.card-buttons
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 1em;
    margin-top: 2em;
    font-size: 1.15em;
}
.card-button
{
    padding: 0.5em;
    width: 17%;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}
.card-button-done
{
    background: #8e7;
    color: #242;
}
.card-button-break
{
    background: #ed5;
    color: #442;
}
.card-button-stop
{
    background: #e73;
    color: #431;
}
.card-button-remove
{
    background: #e44;
    color: #422;
}