/*
    COLORS :
        POLO-RASPBERRIES : #b16
        MAGENTA-FLASHY-LIGHT : #f28
        MAGENTA-RED-FLASHY : #e06
        RED-MAGENTA-MIDDLE : #e04
        RED-ORANGE-SOBER : #b40
        PISTACHIOS : #8b6
        NIGHT-BLUE : #22d
        DARK-WARM-LAVANDER : #95b
        DARK-SOBER-LAVANDER : #86b
        DARK RED GREY : #774055
        DARK ORANGE : #553922
        DARK BLUE : #244
        LIGHT ORANGE : #fb7
        LIGHT BLUE : #9ce
        DARK GREY : #444
        LIGHT GREY : #ccc
*/

@media screen and (max-width: 767px)
{
    .perso-menu
    {
        text-align: center;
    }
    .custom-toggler
    {
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
    }
    .card-distance-test
    {
        margin-top: 1.5em;
    }
}
@media screen and (min-width: 768px)
{
    ul.navbar-nav
    {
        width: 85%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    /* .perso-big-button
    {
        width: 300px;
        margin-top: 4em;
        margin-bottom: 4em;
    } */
}
@media screen and (max-width: 661px)
{
    .perso-card
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .card-buttons
    {
        margin: 0.2em;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 662px)
{
    .perso-card
    {
        border-radius: 5px;
        padding: 30px;
    }
    .card-buttons
    {
        margin: 1em;
    }
}

body
{
    color: #222;
    background-color: #ffe;
    opacity: 1;
    background-image: repeating-linear-gradient(90deg, #eee, transparent 50%, #eee 100%);
    background-size: 5px 1px;
    text-align: justify;
}
.perso-brand, .perso-menu
{
    font-weight: 100;
    letter-spacing: 0.25em;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.perso-menu
{
    width: 100%;
    background-image: linear-gradient(black, #222 100%);
}
.perso-menu .nav-link
{
    color: #86b !important;
}
.perso-menu .active, .perso-menu .nav-link:hover, .perso-menu .nav-link:active
{
    color: #b40 !important;
}
.perso-menu .disabled
{
    color: #774055 !important;
}
.custom-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(238,0,68)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.perso-brand
{
    height: 325px;
    width : 100%;
    color: #b40 !important;
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #222 25%, transparent 25%, transparent 75%, #222 75%, #222), repeating-linear-gradient(45deg, #222 25%, #000000 25%, #000000 75%, #222 75%, #222);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
    display : flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top : -10px;
    margin-bottom : 50px;
}
.perso-name
{
    margin-bottom: -0.27em;
    margin-top: -0.21em;
    font-size : 7.35em;
    text-transform: uppercase;
    transform: scale(1, 1.2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 400;
}
/* .perso-name-letter:first-child
{
    padding-top: 0.2em;
} */
.perso-hr
{
    border-top: 1px solid #b40 !important;
    opacity: 1;
    width: 86.5%;
    max-width : 558px;
    margin-right: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.perso-sentence
{
    word-spacing: 2.1em;
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
}
.perso-name, .perso-sentence
{
    width: 90%;
    max-width : 576px;
}
.perso-container
{
    width: 992px;
    max-width: 90%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
}
.perso-big-button, .perso-card-serie
{
    background-color: #feb;
    opacity: 1;
}
.perso-big-button
{
    display: block;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 288px;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(255,100,0,.05), transparent 25%, transparent 75%, rgba(255,100,0,.05) 100%);
    color: #222;
    text-decoration: none;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.button-form
{
    display: block;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 288px;
    border: 0px;
    border-radius: 5px;
    background: #86b;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
h1
{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #75a;
}
h2
{
    text-transform: lowercase;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
blockquote
{
    font-style: italic;
    padding: 1em;
    background: #ddd;
}
.perso-card
{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 662px;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 3em;
}
.perso-card-serie
{
    background-image: linear-gradient(90deg, rgba(255,100,0,.1), transparent 25%, transparent 75%, rgba(255,100,0,.1) 100%);
    color: #643;
}
.perso-card-distance
{
    background: #e3f3ff;
    background-image: linear-gradient(90deg, rgba(0,100,255,.09), transparent 25%, transparent 75%, rgba(0,100,255,.09) 100%);
    color: #346;
}
.perso-card-title
{
    font-size: 1.3em;
    text-transform: uppercase;
}
.perso-rest
{
    color: #888;
}
.perso-ok
{
    color: #1a4;
}
.perso-limit
{
    color: #c71;
}
.perso-late
{
    color: #c55;
}
.perso-number
{
    font-size: 2.5em;
}
.perso-card-time, .perso-goal
{
    margin-bottom: 3px;
}
.perso-goal + .perso-card-time
{
    margin-top: -8px;
}
/* .perso-card-sentence
{

} */
.card-buttons
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 2em;
    font-size: 1.15em;
}
.card-button-done, .card-button-done:hover, .card-button-done:active
{
    background: #6c4;
    color: #242;
}
.card-button-restart, .card-button-restart:hover, .card-button-restart:active
{
    background: #6c4;
    color: #242;
}
.card-button-break, .card-button-break:hover, .card-button-break:active
{
    background: #dc2;
    color: #442;
}
.card-button-stop, .card-button-stop:hover, .card-button-stop:active
{
    background: #f93;
    color: #431;
}
.card-button-remove, .card-button-remove:hover, .card-button-remove:active
{
    background: #e55;
    color: #422;
}
.card-button-disabled, .card-button-disabled:hover, .card-button-disabled:active
{
    background: #bbb;
    color: #222;
}
.card-button, .card-button:hover, .card-button:active
{
    padding: 0.5em;
    width: 17%;
    text-decoration: none;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .02), transparent 20%, transparent 80%, rgba(0, 0, 0, .02) 100%), linear-gradient(rgba(0, 0, 0, .02), transparent 25%, transparent 75%, rgba(0, 0, 0, .02) 100%);
}
.card-test-result
{
    margin-top: 1em;
}
/* .card-distance-infos
{
    width: 50%;
}
.card-distance-test
{
    width: 50%;
} */
.card-distance-test input
{
    width: 7em;
}
.card-test-title
{
    margin-bottom: 7px;
}
.card-test-result
{
    margin-top: 9px;
    margin-left: 0.3em;
    font-weight: bold;
    font-size: 1.5em;
}